{% extends "admin/base_site.html" %}

{% load i18n static %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}


{% block content %}
<div id="content-main">
    <div class="panel panel-body">
		<form action="#" method="POST" >
			<div class="col-xl-9 col-md-9 col-xs-12 col-sm-12 wow fadeIn" data-wow-delay="0.3s">
				<div class="modal-header bg-blue">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title text-center text-white"> <b>Change Password</b> </h4>
				</div>
				<div class="modal-body">
					{% csrf_token %}
                    {% include 'includes/form.html'%}
					{{form.media}}
				</div>
			</div>
 			<div class="col-md-3 col-xl-3">
				<div class="panel panel-body" style="background-color: #d2d6de66;">
				<h5 class="text-center color-black" style="margin-left: -0.6rem;margin-top: 0rem;">
					<b class="color-black">Action</b>
				</h5>
                <hr class="text-muted" style="border-top: solid 1px;margin-top: 0rem" />
				<div class="form-group">
					<div class="pt-3">
						<button type="submit" class="btn bg-primary text-white btn-block">Save  Changes<i class="fa fa-next"></i> </button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}