.text-blue {
    color:  #2569be !important;
}

.text-orange {
    color: #ff5b4f;
}

.bg-blue { 
    background-color: #2569be;
}

.bg-orange { 
    background-color: #ff5b4f;
}

.btn-blue { 
    background-color: #2569be;
    color: whitesmoke !important;
    transition: all 0.5s ease-in-out;
}

.btn-blue:hover { 
    background-color: #2569be;
    color: whitesmoke !important;
}

.btn-blue:focus { 
    background-color: #2569be;
    color: whitesmoke !important;
}

.btn-orange { 
    background-color: #ff5b4f;
    color: whitesmoke !important;
    transition: all 0.5s ease-in-out;
}

.btn-orange:hover { 
    background-color: #ff5b4f;
    color: whitesmoke !important;
}

.btn-orange:focus { 
    background-color: #ff5b4f;
    color: whitesmoke !important;
}

.h-100 {
    height: 30rem;
}

.shadow-hover:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 10px 10px 0 rgba(0, 0, 0, 0.12);
  }
.height-100 {
    height: 12rem;
    /* background-color: aquamarine; */
}
.height-200 {
    height: 15rem;
    /* background-color: aquamarine; */
}
.height-400 {
    height: 25rem;
    /* background-color: aquamarine; */
}